body {
    color:white;
}
a {
    text-decoration: none;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.sred {
    border-bottom: 3px red ridge;
}
.sblue {
    border-bottom: 3px blue ridge;
}
.sgreen {
    border-bottom: 3px green ridge;
}
.syellow {
    border-bottom: 3px yellow ridge;
}

.bred {
    background-color: red;
}
.bblue {
    background-color: blue;
}
.bgreen {
    background-color: green;
}
.byellow {
    background-color: yellow;
}
/* .navbar .bred {
    background-image: linear-gradient(transparent 0%, red 30% ,red 70% , transparent  100%);
}
.navbar .bblue {
    background-image: linear-gradient(transparent 0%, blue 30% ,blue 70% , transparent  100%);
}
.navbar .bgreen {
    background-image: linear-gradient(transparent 0%, green 30% ,green 70% , transparent  100%);
}
.navbar .byellow {
    background-image: linear-gradient(transparent 0%, yellow 30% ,yellow 70% , transparent  100%);
} */
.hacerCambio{
    color: red;
}
button {
    font-weight: 700;
}

.panel {
    display: flex;
    justify-content: center;
}
.panel div {
    display: flex;
    margin: 0 1rem;
}

