body {
    color:white;
}
.navbar button {
    /* background-image: linear-gradient(var(--color5) 0%, var(--color6) 20% ,var(--color6) 80% , var(--color5)  100%); */
    box-shadow: 0 0 3px 0 black;
    border-radius: 8px;
}
a {
    text-decoration: none;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.sred {
    border-bottom: 3px red ridge;
}
.sblue {
    border-bottom: 3px blue ridge;
}
.sgreen {
    border-bottom: 3px green ridge;
}
.syellow {
    border-bottom: 3px yellow ridge;
}
<<<<<<< HEAD

.bred {
    background-color: red;
}
.bblue {
    background-color: blue;
}
.bgreen {
    background-color: green;
}
.byellow {
    background-color: yellow;
}
#bred {
    background-color: red;
}
#bblue {
    background-color: blue;
}
#bgreen {
    background-color: green;
}
#byellow {
    background-color: yellow;
}
/* .navbar .bred {
    background-image: linear-gradient(transparent 0%, red 30% ,red 70% , transparent  100%);
=======
.bred {
    background-color: red;
>>>>>>> 104c64bfe58d95718c687d0e0ba0b96420921978
}
.bblue {
    background-color: blue;
}
.bgreen {
    background-color: green;
}
<<<<<<< HEAD
.navbar .byellow {
    background-image: linear-gradient(transparent 0%, yellow 30% ,yellow 70% , transparent  100%);
} */
=======
.byellow {
    background-color: yellow;
}
#bred {
    background-color: red;
}
#bblue {
    background-color: blue;
}
#bgreen {
    background-color: green;
}
#byellow {
    background-color: yellow;
}
>>>>>>> 104c64bfe58d95718c687d0e0ba0b96420921978
.hacerCambio{
    color: red;
}
button {
    font-weight: 700;
}

.panel {
    display: flex;
    justify-content: center;
}
.panel div {
    display: flex;
    margin: 0 1rem;
}

